
<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	
		<%= link_to 'MF- Mundo do Futebol', root_path , class: "navbar-brand" %>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Apresentacao</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicos <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Futebol</a></li>
					<li><a href="#">Escola</a></li>
					<li><a href="#">Clubes</a></li>
					<li><a href="#">Locações</a></li>
					<li><a href="#">Paises</a></li>

					
				</ul>
				<li><a href="#">Contato</a></li>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>
